@import url('../../../main.css');

.alert {
    padding: 20px;
    background-color: #d97f78;
    color: white;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    border-radius: 5px;
    min-width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.6s, bottom 0.6s;
}

.alert.success {
    background-color: var(--green);
}

.alert.error {
    background-color: #d97f78;
}

.alert.show {
    opacity: 1;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.closebtn:hover {
    color: black;
}